fastapi
uvicorn
google-generativeai
google-genai
tqdm
prisma
passlib[bcrypt]
python-jose[cryptography]
bcrypt
authlib
anthropic
networkx
matplotlib
PyPDF2
langchain-groq
requests
python-dotenv
pydantic[email]
starlette
python-multipart
itsdangerous
openai
pillow
google-api-python-client
websockets
